@using Bakery.Models
@model Bakery.Models.Flavor

<h2>Add A Flavor</h2>
@using (Html.BeginForm())
{
    @Html.Label("Name", "Name: ")
    @Html.TextBoxFor(model => model.Name, new { @class="form-control", required="required"})

    @Html.Label("Description", "Description: ")
    @Html.TextBoxFor(model => model.Name, new { @class="form-control"})

    @foreach(Treat treat in @ViewBag.Treats)
    {
        <p>@Html.CheckBox(@treat.Name, false)
        @treat.Name</p>
    }

    <input type="hidden" name="TreatId" value=@ViewBag.TreatId />
    <input type="submit" value="Add Flavor" class="btn btn-outline-danger">
}