@model Bakery.Models.Flavor

<h2>Edit Flavor Info</h2>

<p><strong>Flavor: </strong>@Model.Name</p>
<p><strong>Description: </strong>@Model.Description</p>
<p>Treats:</p>
@foreach (var join in Model.Treats)
{
    <p><strong>@if(!String.IsNullOrEmpty(@join.Treat.Name))
    {
        @join.Treat.Name
    }</strong>
    @if(!String.IsNullOrEmpty(@join.Treat.Description))
    {
        @join.Treat.Description
    }</p>
}

@using (Html.BeginForm())
{
    @Html.Label("Name", "Flavor Name: ")
    @Html.EditorFor(model => model.Name, new { @class="form-control", required="required" })
    <br>
    @Html.Label("Description", "Flavor Description: ")
    @Html.EditorFor(model => model.Description, new { @class="form-control" })
    @*@Html.HiddenFor(model => model.TreatId)*@
    <input type="submit" value="Update Flavor" class="btn btn-outline-danger">
}